$theme-colors: ("primary": #004f70)

@import "../../node_modules/highlight.js/scss/nord"

@import "../../node_modules/bootstrap/scss/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap')

body
  font-family: 'Comfortaa', cursive
  overflow-x: hidden

html
  scroll-behavior: smooth

a
  &:hover
    text-decoration: none

.card
  border: none

.fade-enter-active,
.fade-leave-active
  transition: opacity .5s
.fade-enter,
.fade-leave-to
  opacity: 0

.modal
  background: rgba(0, 29, 41, 1)
  display: block

.modal-enter-active,
.modal-leave-active
  transition: opacity .5s
  .modal-dialog
    transition: transform .5s
.modal-enter,
.modal-leave-to
  opacity: 0
  .modal-dialog
    transform: scale(.9)
